.initial{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  
  .divp2{
    height:60px;
    font-weight: 600;
    background-color: #C4C4C4;
    margin-bottom: 1px;
  }
  
  .divp21{
    height:60px;
    font-weight: 600;
    background-color: #E0E0E0;
    margin-bottom: 1px;
  }
  
  .divp22{
    height:65px;
    width:65;
    font-weight: 600;
  }
  .circle{
    height:40px;
    width:40px;
    margin: 4px;
  }
  
  .btncircle{
    border-radius: 50%;
    width: 60px;
    height: 60px;
    border: 1px solid black;
  }
  
  .linecut{
    text-decoration: line-through;
  }
  
  .test {
    width: 50px;
    height: 50px;
    background-color: ;
    border:1px solid black;
  }
  
  .readmore{
    color: #007BFF;
  }
  
  .logos{
    font-size:small;
    font-weight: bold;
  
  }
  .headingMain{
    font-weight: bolder;
  }
  
  .headingMain2{
    font-weight: bolder;
    font-size: larger;
  }
  
  .productTitle{
    font-weight: bolder;
    font-size: larger;
  }
  
  .productTitle1{
    font-weight: bold;
    font-size: medium;
  }
  .productTitle2{
    font-weight: bolder;
    font-size: large;
  }
  
  .wrapper{
    max-height: 120px;
    display: flex;
    overflow-x: auto;
    margin-top: 8px;
    margin-bottom: 8px;
    margin-left: 15px;
  }

    .wrapper::-webkit-scrollbar{
        width: 0;
    } 

  .wrapper .item{
      min-width:60px;
      height: 110px;
      line-height: 30px;
      text-align: center;
      background-color: #ddd;
  }
  

  .wrapper3{
    max-height: 120px;
    display: flex;
    overflow-x: auto;
    margin-top: 8px;
    margin-bottom: 8px;
    margin-left: 15px;
  }

  .item3{
      margin-right: 40px;
  }

  .wrapper3::-webkit-scrollbar{
      width: 0;
      height: 0;
  } 

.wrapper3 .item3{
    min-width:60px;
    height: 110px;
    line-height: 30px;
    text-align: center;
    background-color: #ddd;
}



.mainwrapper{
    max-height: 120px;
    overflow-y: auto;
    margin-top: 8px;
    margin-bottom: 8px;
    margin-left: 15px;
  }

  .mainitem{
      margin-right: 40px;
  }

  .mainwrapper::-webkit-scrollbar{
      width: 0;
      height: 0;
  } 

.mainwrapper .mainitem{
    min-width:60px;
    height: 110px;
    line-height: 30px;
    text-align: center;
    background-color: #ddd;
}
.cartButton{
    height: 48px;
    width: 180px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: black;
    font-size: medium;
    font-weight: 600;
}

.likeIcon{
    height: 48px;
    width: 80px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 2px;
    background-color: white;
}
.cartDiv{
    display: flex;
    position: fixed;

}

.activeCircle{
  height: '65px';
  width: '65px';
	margin: '4px';
  border-radius:'50%';
	border: '2px solid black'
}

/* @media screen and (min-width: 760px) {
  .marginTopFloat {
    margin-top: '140%';
  }
} */
/* @media screen and (min-width: 768px) {
      .marginTopFloat {
          margin-top: 30%;
      }
  } */

  @media screen and (min-width: 768px) {
    .marginTopFloat {
        margin-top: 30%;
    }
}
@media only screen 
    and (device-width : 375px) 
    and (device-height : 812px) 
    and (-webkit-device-pixel-ratio : 3) {
      .marginTopFloat{
        margin-top: 140%;
      }
     }

     @media screen and (min-width: 768px) {
      .marginTopFloat2 {
          margin-top: 35%;
      }
  }

     @media only screen 
    and (device-width : 375px) 
    and (device-height : 812px) 
    and (-webkit-device-pixel-ratio : 3) {
      .marginTopFloat2{
        margin-top: 152%;
      }
     }

     @media screen and (min-width: 768px) {
      .marginTopFloat2 {
          margin-top: 35%;
      }
  }

     @media only screen 
     and (device-width : 375px) 
     and (device-height : 812px) 
     and (-webkit-device-pixel-ratio : 3) {
       .marginTopFloat2{
         margin-top: 110%;
       }
      }

  

  