.initial{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  
  .divp2{
    height:50px;
    font-weight: 600;
    background-color: #C4C4C4;
    /* margin-bottom: 1px; */
  }
  
  .divp21{
    height:50px;
    font-weight: 600;
    background-color: #E0E0E0;
    /* margin-bottom: 1px; */
  }
  
  .divp22{
    height:65px;
    width:65;
    font-weight: 600;
  }
  .circle{
    height:40px;
    width:40px;
    margin: 4px;
  }
  
  .btncircle{
    border-radius: 50%;
    width: 60px;
    height: 60px;
    border: 1px solid black;
  }
  
  .linecut{
    text-decoration: line-through;
    margin-top: -10px;
  }
  
  .test {
    width: 50px;
    height: 50px;
    background-color: ;
    border:1px solid black;
  }
  
  .readmore{
    color: #007BFF;
  }
  
  .logos{
    font-size:small;
    font-weight: bold;
  
  }
  .headingMain{
    font-weight: bolder;
  }
  
  .headingMain2{
    font-weight: bolder;
    font-size: larger;
  }
  
  .productTitle{
    font-weight: bolder;
    font-size: large;
  }
  
  .productTitle1{
    font-weight: bold;
    font-size: medium;
  }
  .productTitle2{
    font-weight: bolder;
    font-size: large;
  }
  
  .wrapper{
    max-height: 120px;
    display: flex;
    overflow-x: auto;
    margin-top: 8px;
    margin-bottom: 8px;
    margin-left: 15px;
  }

    .wrapper::-webkit-scrollbar{
        width: 0;
    } 

  .wrapper .item{
      min-width:60px;
      height: 110px;
      line-height: 30px;
      text-align: center;
      background-color: #ddd;
  }
  

  .wrapper3{
    max-height: 120px;
    display: flex;
    overflow-x: auto;
    margin-top: 8px;
    margin-bottom: 8px;
    /* margin-left: 15px; */
  }

  .item3{
      margin-right: 40px;
  }

  .wrapper3::-webkit-scrollbar{
      width: 0;
      height: 0;
  } 

.wrapper3 .item3{
    min-width:45px;
    /* height: 110px; */
    line-height: 30px;
    text-align: center;
    background-color: #ddd;
}

.wrapperp3{
  max-height: 120px;
  display: flex;
  overflow-x: auto;
  margin-top: 8px;
  margin-bottom: 8px;
  margin-left: 15px;
}

.itemp3{
  margin-right: 40px;
}

.wrapperp3::-webkit-scrollbar{
  width: 0;
  height: 0;
} 

.wrapperp3 .itemp3{
min-width:45px;
height: 110px;
line-height: 30px;
text-align: center;
background-color: #ddd;
margin:5px;
}

.mainwrapper{
    max-height: 120px;
    overflow-y: auto;
    margin-top: 8px;
    margin-bottom: 8px;
    margin-left: 15px;
  }

  .mainitem{
      margin-right: 40px;
  }

  .mainwrapper::-webkit-scrollbar{
      width: 0;
      height: 0;
  } 

.mainwrapper .mainitem{
    min-width:60px;
    height: 110px;
    line-height: 30px;
    text-align: center;
    background-color: #ddd;
}

.product3Active {
  /* height: '57px' !important;
																width: '60px' !important; */
																border-radius: 50%;
                                margin: 6px;
                                border: 1px solid black;
}

.product3Normal {
  /* height: '67px' !important;
																width: '70px' !important; */
																border-radius: 50%;
                                margin: 6px;
                                border: 1px solid white;
}
.cartButton{
    height: 48px;
    width: 180px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: black;
    font-size: medium;
    font-weight: 600;
}

.cartButton2{
  height: 48px;
  width: 180px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  background-color: white;
  font-size: medium;
  font-weight: 600;
}

.likeIcon{
    height: 48px;
    width: 80px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 2px;
    margin-bottom: 9px ;
    background-color: white;
}
.cartDiv{
    display: flex;
    position: fixed;
    margin-bottom: 6px ;

}

.activeCircle{
  height: '65px';
  width: '65px';
	margin: '4px';
  border-radius:'50%';
	border: '2px solid black'
}

.description1{
  background-color: white;
}

.description2{
  background-color: white;
}

.description3{
  background-color: white;
}
.description4{
  background-color: white;
}


.wrapperR3{
  max-height: 120px;
  display: flex;
  overflow-x: auto;
  margin-top: 8px;
  margin-bottom: 8px;
  /* margin-left: 15px; */
}

.itemR3{
    margin-right: 40px;
}

.wrapperR3::-webkit-scrollbar{
    width: 0;
    height: 0;
} 

.wrapperR3 .itemR3{
  min-width:45px;
  /* height: 110px; */
  line-height: 30px;
  text-align: center;
  background-color: #ddd;
}

.descriptiont1{
  margin-bottom: 20px;
}








  

  